:root {
    --font-title-stack: 'Inknut Antiqua', serif;
    --font-body-stack: 'Libre Baskerville', serif;
    --accent: red;
    --accent-bw: rgb(70,70,70);
    --shadow: rgba(255, 37, 37, 0.329);
    --shadow-bw: #ccc;
    --background-light: #eee;
}

/* @font-face {
  font-family: 'Tiamat';
  src: url('/fonts/tiamat.woff2') format('woff2'),
       url('/fonts/tiamat.woff') format('woff'),
       url('/fonts/tiamat.otf') format('otf');
} */

#root {
    height: 100%;
}
* {
    box-sizing: border-box;
}
.App {
    height: 100%;
    font-family: var(--font-body-stack);
    font-size: 1rem;
}

/* Deck.js */
.Deck {
    padding: 0.25em;
}
.Deck-wrapper {
    text-align: center;
}
.Deck-list {
    padding: 0.5em 0;
    list-style: none;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-x: visible;
    overflow-y: visible;
}

.Card {
    display: inline-block;
    width: 12em;
    height: 20em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    margin-top: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0px 1px 3px rgba(255, 38, 38, 0.75), 0px 2px 6px rgba(255, 84, 84, 0.5);
    color: rgb(50, 50, 50);
    text-align: left;
    vertical-align: top;
    z-index: 1000;
    background-color: white;
}

.Card-title {
    font-family: var(--font-title-stack);
    font-size: 1.5em;
    letter-spacing: -0.05em;
    margin: 0;
    height: 1.5em;
    line-height: 1.5em;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.Card-subtitle {
    margin: 1em 0 0.5em 0;
    font-size: 1em;
    font-style: italic;
}

.Card-details {
    margin: 0.5em 0;
}

.Card-detail {
    color: var(--accent-bw);
    font-size: 0.8em;
    border-bottom: 1px solid var(--accent-bw);
    padding: 0.2em 0;
}
.Card-detail {
    font-weight: bold;
}
.Card-detail > span {
    float: right;
    font-weight: normal;
}

.Card-description {
    height: 15em;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.Card-text {
    font-size: 0.5em;
    /*margin: 0.3em 0;*/
}

.Card-text-right {
    text-align: right;
    bottom: 0;
    font-weight: bold;
}
